<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCaddins.src.ExportManager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCAddins.SCExport.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.SCincrement.SCincrementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.Scaddins" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections><startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SCaddins.src.ExportManager.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCAPP01\FollowYouColour</value>
            </setting>
            <setting name="AcadExportVersion" serializeAs="String">
                <value>R2010</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSBinDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\bin</value>
            </setting>
            <setting name="GSLibDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\lib</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeFormatPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="NorthPointVisibilityParameter" serializeAs="String">
                <value>North Point</value>
            </setting>
            <setting name="PaperSizes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A0 (841x1189mm)</string>
                        <string>A1 (594x841mm)</string>
                        <string>A2 (420x594mm)</string>
                        <string>A3 (297x420mm)</string>
                        <string>ISO B1 (707x1000mm)</string>
                        <string>ISO B2 (500x707mm)</string>
                        <string>ISO B3 (353x500mm)</string>
                        <string>ISO B4 (250x353mm)</string>
                        <string>B1 (728x1030mm)</string>
                        <string>B2 (515x728mm)</string>
                        <string>B3 (364x515mm)</string>
                        <string>B4 ( 257x364mm)</string>
                        <string>ANSI A (8.5x11in)</string>
                        <string>ANSI B (11x17in)</string>
                        <string>ANSI C (17x22in)</string>
                        <string>ANSI D (22x34in)</string>
                        <string>ANSI E (34x44)</string>
                        <string>Arch A (9x12in)</string>
                        <string>Arch B (12x18in)</string>
                        <string>Arch C (18x24in)</string>
                        <string>Arch D (24x36in)</string>
                        <string>Arch E (36x48in)</string>
                        <string>Arch E1 (30x42in)</string>
                        <string>Arch E2 (26x38in)</string>
                        <string>Arch E3 (27x39in)</string>
                        <string>Arch30 B (10.5x15in)</string>
                        <string>Arch30 C (15x21in)</string>
                        <string>Arch30 D (21x30in)</string>
                        <string>Arch30 E (30x42in)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PSPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="ScalebarScaleParameter" serializeAs="String">
                <value>Scalebar Scale</value>
            </setting>
            <setting name="ShowExportLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </SCaddins.src.ExportManager.Settings1>
        <SCAddins.SCExport.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCAPP01\FollowYouColour</value>
            </setting>
            <setting name="AcadExportVersion" serializeAs="String">
                <value>R2010</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSBinDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\bin</value>
            </setting>
            <setting name="GSLibDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\lib</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeFormatPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="NorthPointVisibilityParameter" serializeAs="String">
                <value>North Point</value>
            </setting>
            <setting name="PSPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="ScalebarScaleParameter" serializeAs="String">
                <value>Scalebar Scale</value>
            </setting>
            <setting name="ShowExportLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </SCAddins.SCExport.Settings1>
        <SCaddins.SCincrement.SCincrementSettings>
            <setting name="CustomParameterName" serializeAs="String">
                <value>Window Instance Number</value>
            </setting>
            <setting name="DestinationReplacePattern" serializeAs="String">
                <value>#VAL#$2</value>
            </setting>
            <setting name="DestinationSearchPattern" serializeAs="String">
                <value>(^\d*)(.*$)</value>
            </setting>
            <setting name="IncrementValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceReplacePattern" serializeAs="String">
                <value>$1</value>
            </setting>
            <setting name="SourceSearchPattern" serializeAs="String">
                <value>(^\d*).*$</value>
            </setting>
            <setting name="UseCustomParameterName" serializeAs="String">
                <value>False</value>
            </setting>
        </SCaddins.SCincrement.SCincrementSettings>
        <SCaddins.Scaddins>
            <setting name="UpgradeCheckOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
        </SCaddins.Scaddins>
    </userSettings>
</configuration>