<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCaddins.src.ExportManager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCAddins.SCExport.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.SCincrement.SCincrementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.Scaddins" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections><startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SCaddins.src.ExportManager.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCAPP01\FollowYouColour</value>
            </setting>
            <setting name="AcadExportVersion" serializeAs="String">
                <value>R2010</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSBinDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\bin</value>
            </setting>
            <setting name="GSLibDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\lib</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeFormatPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="NorthPointVisibilityParameter" serializeAs="String">
                <value>North Point</value>
            </setting>
            <setting name="PaperSizes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>a0		(	841	x 1189	mm	)</string>
                        <string>a1		(	594	x 841	mm	)</string>
                        <string>a2		(	420	x 594	mm	)</string>
                        <string>a3		(	297	x 420	mm	)</string>
                        <string>a4		(	210	x 297	mm	)</string>
                        <string>a4 small	(	210	x 297	mm	)</string>
                        <string>a5		(	148	x 210	mm	)</string>
                        <string>a6		(	105	x 148	mm	)</string>
                        <string>a7		(	74	x 105	mm	)</string>
                        <string>a8		(	52	x 74	mm	)</string>
                        <string>a9		(	37	x 52	mm	)</string>
                        <string>a10		(	26	x 37	mm	)</string>
                        <string>iso b0		(	1000	x 1414	mm	)</string>
                        <string>iso b1		(	707	x 1000	mm	)</string>
                        <string>iso b2		(	500	x 707	mm	)</string>
                        <string>iso b3		(	353	x 500	mm	)</string>
                        <string>iso b4		(	250	x 353	mm	)</string>
                        <string>iso b5		(	176	x 250	mm	)</string>
                        <string>iso b6		(	125	x 176	mm	)</string>
                        <string>c0		(	917	x 1297	mm	)</string>
                        <string>c1		(	648	x 917	mm	)</string>
                        <string>c2		(	458	x 648	mm	)</string>
                        <string>c3		(	324	x 458	mm	)</string>
                        <string>c4		(	229	x 324	mm	)</string>
                        <string>c5		(	162	x 229	mm	)</string>
                        <string>c6		(	114	x 162	mm	)</string>
                        <string>jis b0		(	1030	x 1456	mm	)</string>
                        <string>jis b1		(	728	x 1030	mm	)</string>
                        <string>jis b2		(	515	x 728	mm	)</string>
                        <string>jis b3		(	364	x 515	mm	)</string>
                        <string>jis b4		(	257	x 364	mm	)</string>
                        <string>jis b5		(	182	x 257	mm	)</string>
                        <string>jis b6		(	128	x 182	mm	)</string>
                        <string>11x17	  	(	279	x 432	mm	)</string>
                        <string>ledger		(	432	x 279	mm	)</string>
                        <string>legal		(	216	x 356	mm	)</string>
                        <string>letter		(	216	x 279	mm	)</string>
                        <string>letter small	(	216	x 279	mm	)</string>
                        <string>arch E		(	914	x 1219	mm	)</string>
                        <string>arch D		(	610	x 914	mm	)</string>
                        <string>arch C		(	457	x 610	mm	)</string>
                        <string>arch B		(	305	x 457	mm	)</string>
                        <string>arch A		(	229	x 305	mm	)</string>
                        <string>ANSI A (8.5x11in)</string>
                        <string>ANSI B (11x17in)</string>
                        <string>ANSI C (17x22in)</string>
                        <string>ANSI D (22x34in)</string>
                        <string>ANSI E (34x44)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PSPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="ScalebarScaleParameter" serializeAs="String">
                <value>Scalebar Scale</value>
            </setting>
            <setting name="ShowExportLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </SCaddins.src.ExportManager.Settings1>
        <SCAddins.SCExport.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCAPP01\FollowYouColour</value>
            </setting>
            <setting name="AcadExportVersion" serializeAs="String">
                <value>R2010</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSBinDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\bin</value>
            </setting>
            <setting name="GSLibDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\lib</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeFormatPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="NorthPointVisibilityParameter" serializeAs="String">
                <value>North Point</value>
            </setting>
            <setting name="PSPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="ScalebarScaleParameter" serializeAs="String">
                <value>Scalebar Scale</value>
            </setting>
            <setting name="ShowExportLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </SCAddins.SCExport.Settings1>
        <SCaddins.SCincrement.SCincrementSettings>
            <setting name="CustomParameterName" serializeAs="String">
                <value>Window Instance Number</value>
            </setting>
            <setting name="DestinationReplacePattern" serializeAs="String">
                <value>#VAL#$2</value>
            </setting>
            <setting name="DestinationSearchPattern" serializeAs="String">
                <value>(^\d*)(.*$)</value>
            </setting>
            <setting name="IncrementValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceReplacePattern" serializeAs="String">
                <value>$1</value>
            </setting>
            <setting name="SourceSearchPattern" serializeAs="String">
                <value>(^\d*).*$</value>
            </setting>
            <setting name="UseCustomParameterName" serializeAs="String">
                <value>False</value>
            </setting>
        </SCaddins.SCincrement.SCincrementSettings>
        <SCaddins.Scaddins>
            <setting name="UpgradeCheckOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
        </SCaddins.Scaddins>
    </userSettings>
</configuration>